.App {
  width: 700px;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(../public/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.App footer {
  font-size: 12px;
  font-weight: 500;
  padding: 10px 0;
}

.App a {
  color: black;
}
